* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

a {
  color: black;
  text-decoration: none;
}

.pics {
  align-content: right;
  display: inline-block;
  vertical-align: top;
  font-size: small;
  width: 170px;
}

.loginformbox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: transparent;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.errorMsg {
  color: red;
  font-size: 16px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/*Playlist nibbes css*/
.pics {
  align-content: right;
  display: inline-block;
  vertical-align: top;
  font-size: small;
  width: 170px;
}

.boxsquare {
  background: #4b99d8c0;
border-radius: 20px;
width: 400px;
border: 1px solid #c1c1c1;
overflow:auto;
margin:5px auto;
}

.myButton {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #4ab3e4 5%, #bab1ba 100%);
  background-color: #448cdd;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #061725;
  font-family: Arial;
  font-size: 10px;
  padding: 5px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #cacdeb;
}
.myButton:hover {
  font-size: 11px;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

.spanSize {
  font-size: 15;
}

.myButton2 {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 30px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.myButton2:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.myButton2:active {
  position: relative;
  top: 1px;
}

.buttonAdd {
  position: absolute;
  display: inline-block;
  margin: 0 auto;

  -webkit-border-radius: 10px;

  -webkit-box-shadow: 0px 3px rgba(128, 128, 128, 1),
    /* gradient effects */ 0px 4px rgba(118, 118, 118, 1),
    0px 5px rgb(108, 108, 108), 0px 6px rgba(98, 98, 98, 1),
    0px 7px rgba(88, 88, 88, 1), 0px 8px rgba(78, 78, 78, 1),
    0px 14px 6px -1px rgba(128, 128, 128, 1); /* shadow */
}

.buttonAdd span {
  background-color: #e8e8e8;

  display: inline-block;
  padding: 5px;

  color: #3a474d;
  text-transform: uppercase;
  font-family: "TradeGothicLTStd-BdCn20", "PT Sans Narrow";
  font-weight: 700;
  font-size: 20px;

  text-shadow: 0px 1px #fff, 0px -1px #262f33;
}

.buttonAdd span:hover {
  color: #aebf3b;
  text-shadow: 0px -1px #97a63a;
  cursor: pointer;
}

.backgroundfärg {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c672b7,
    #b77ac6,
    #a483d3,
    #8d8bdd,
    #709bec,
    #4baaf5,
    #00b8f8,
    #00ceee,
    #00dec3,
    #57e782,
    #c4e63f
  );
}

.water {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(
    to right top,
    #370fe9,
    #2f79e9,
    #488eeb,
    #4aa9e9,
    #3b7cdf,
    #4780d6,
    #6797df,
    #85aae2,
    #a3bde4
  );
  border-radius: 100%;
  position: relative;
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5),
    0 4px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.water:before,
.water:after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: -150px;
  background-color: rgb(0, 0, 0);
}
.water:before {
  border-radius: 55%;
  background: rgba(36, 6, 6, 0.7);
  animation: wave 5s linear infinite;
}
.water:after {
  border-radius: 35%;
  background: rgba(186, 225, 245, 0.438);
  animation: wave 5s linear infinite;
}
@keyframes wave {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fontColorPlaylist {
  color: #f5f5f5;
}

.hrGrey { 
border-color:grey;
} 

.hrBlack {
  border-color: black;
}

/* End Non-Essential  */

.property-card
{
  height:25em;
  width:30em;
  float: left;
  display:-webkit-box;
  display:-ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction:row;
  flex-direction: row;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:50%;
  width:30em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('https://cdn.photographylife.com/wp-content/uploads/2017/01/What-is-landscape-photography.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}


.center
{
  height:500px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:15em;
  width:30em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}

.reviewsHeader {
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
color: #55B7B3;
background: #FFFFFF;
  }

  #container {
    background: rgba(3, 45, 55, 0.5);
    width: 28rem;
    height: 17rem;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  height: 3rem;
  background: rgba(3, 40, 55, 0.7);
  font-size: 1.4rem;
  color: #d3d3d3;
}

input {
  background: transparent;
  border: 0;
  border-left: 4px solid;
  border-color: #FF0000;
  padding: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 0;
    background: rgba(30, 170, 235, 0.3);
    border-radius: 1.2rem;
    border-color: transparent;
}